<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        p {
            line-height: 1.6;
            color: #666;
        }
    </style>
</head>
<body>
{% extends 'home.html'%}
{% block content %}

    <div class="container">
        <h1>About Us</h1>
        <h3> I'm Azoom Samir  -------       Full stack developer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non risus eu odio pulvinar vehicula. Integer nec felis sed metus malesuada vestibulum. Donec eget dapibus risus. Suspendisse potenti. Sed vestibulum, ipsum sit amet rhoncus pharetra, lacus lacus suscipit elit, vel molestie orci lacus at ex. Nullam nec justo nec velit pretium mattis. Quisque viverra justo sit amet enim tincidunt, sit amet consequat enim eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <p>Phasellus ac velit tortor. Morbi vestibulum eget nulla non vehicula. Integer id risus nec risus dapibus iaculis. Integer venenatis sed leo et dignissim. Donec ultricies justo sit amet leo imperdiet, ac imperdiet nisi viverra. Vestibulum cursus interdum felis, ac suscipit lorem volutpat in. Integer finibus eros et sem bibendum, ut rutrum ipsum pellentesque. Nam auctor fermentum arcu, et posuere odio placerat eu. Phasellus ullamcorper consequat ex id feugiat. Proin consectetur magna eget tincidunt gravida. Sed sollicitudin vitae mi ac convallis.</p>
    </div>
{% endblock content %}
</body>
</html>
